.container
{
  height: 400px;
  width: 500px;

position: absolute;

  top: 150px;
  left: 400px;
  border-style: groove;
  border-radius: 6px;
}


.heading
{
  font-family:monospace;
}


.container2
{
  height: 300px;
  width: 490px;
  /* background-color: yellow; */
  border-radius: 6px;
  border-style: groove;
  position: relative;
  left: 1px;
}

.bs
{
background-color: white;
}

.message
{
  height: 200px;
  position: absolute;
  top: 20px;
  left: 300px;
}

.vc
{
  font-family: monospace;
  font-size: 18px;
}


.one,.two,.three,.four
{
  position: relative;
  top: -13px;
}

.four
{
  position: relative;
  top: -25px;
}



@media (max-width:450px) {


  .container
  {
    position: absolute;
    left: 40px;
    width: 400px;
  }

  .container2
  {
    width: 350px;
    position: absolute;
    left: 25px;
  }


.one
{
  position: absolute;
  top: 20px;
  left:120px;
}
.two
{
  position: absolute;
  top: 90px;
  left: 95px;
}

.three
{
  position: absolute;
  top: 160px;
  left: 35px;
}
.four
{
  position: absolute;
  top: 240px;
  left: 36px;
}
.message
{
  position: relative;
  top: 2px;
  left: 0px;
}

.icon
{
  position: absolute;
  left: 30px;
}


.D
{
width: 400px;
}
}
